body {
  text-align: center;
  background-color: beige;
}

.app {
  padding: 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: pink;
  width: 20%;
  margin-top: 100px;
}

.form{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  margin: 10px;
}
#jik
{
  margin-top: 10px;
  margin-bottom: 5px;
}
#jak{

}
#joe{
  margin-top: 10px;
  border-radius: 5px;
  height: 28px;
  color: palevioletred;
  border: 2px solid palevioletred;
  font-weight: 600;
}